*{
    padding:0;margin:0;
}
.clear{
    clear:both;
    overflow:hidden;
}
ul{list-style:none;}
.container{
    width:800px;
    margin:50px auto;
}
.container li{
    float:left;
    width:170px;
    margin:10px;
    border-radius: 5px;
    box-shadow:  0 0 2px rgba(0,0,0,5);
}
.container li img{
    width:170px;
    height: 120px;
    border-radius: 20px;
    vertical-align: bottom;
}
/*使照片墙艺术倾斜*/
/*第一张图片 沿X轴顺时针旋转30度*/
.container li:nth-child(1){
    transform: rotate(30deg);
}
.container li:nth-child(2){
    transform: rotate(-20deg);
}
.container li:nth-child(3){
    transform: rotate(30deg);
}
.container li:nth-child(4){
    transform: rotate(-20deg);
}.container li:nth-child(5){
     transform: rotate(30deg);
 }
.container li:nth-child(6){
    transform: rotate(-20deg);
}
.container li:nth-child(7){
    transform: rotate(30deg);
}
.container li:nth-child(8){
    transform: rotate(-20deg);
}
/*鼠标移上图片，图片恢复原位，并且有缩放效果*/
.container li:hover{
    transform: rotate(0deg) scale(1.3);/*放大1.3倍*/
    /*transform: rotate(0deg) scalex(1.3);/!*x轴放大1.3倍*!/
    transform: rotate(0deg) scaley(1.3);/!*y轴放大1.3倍*!/
    transform: rotate(0deg) scale(-1.3);/!*反转放大1.3倍*!/!*/


}
